# See https://help.github.com/ignore-files/ for more about ignoring files.
# dependencies
/node_modules
/.idea
# misc
.DS_Store
tsconfig.tsbuildinfo
./tsconfig.tsbuildinfo

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/dist
/build
/build/*

# Log files
/logs/*
/uploads/*
